
div.col-xs-12 {
    height: 100%;
    position: absolute;
    float: right;
    align-content: right;
}
div.col-sm-3,
div.col-xs-6 {
    float: left;
    z-index: 2;
    border-style: solid;
    background-color: rgba(256,256,256,0.85);
}
button.toggle {
    margin-left: 33px;
}
ul {
    list-style-type: none;
}
#list {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}
#map {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
li {
    margin-top: 10px;
    margin-left: -35px;
}
li:hover {
    background-color: #7d7d7d;
    color: #fff;
}